/backup_videos
/InventoryControlBibliografia
/oficial_db
/oficial_db_data_augmentation
/oficial_set
/raw_videos
/redaccion
/resultados
/venv
/videos_recortados
/VisionTransformer
/models

/__pycache__

./__pycache__

./config/__pycache__

./routes/__pycache__
__pycache__

**/__pycache__
__pycache__/*.pyc